@import 'variables.scss';

.app {
    background-color: $base-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

@media only screen and (min-width: 600px) {
    .app {
        max-width: 500px;
        margin: 30px auto;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        height: 90vh;
        display: flex;
        flex-direction: column;
    }
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
    margin: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba($main-color-opaque, .5);
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $main-color-opaque;
}