$white: #ffffff;
$vibrant-light: #00a3ff;
$vibrant-dark: #0057ff;
$vibrant-gradient: linear-gradient(135deg, $vibrant-light, $vibrant-dark);

// dark theme
$base-color: #17212c;
$main-color: #d7e0e9;
$main-color-opaque: rgba($main-color, 0.5);
$messages-soft: #2c3f51;

// // light theme
// $base-color: #dbe7f2;
// $main-color: #697e93;
// $main-color-opaque: rgba($main-color, 0.5);
// $messages-soft: #88a7c5;

.app {
	max-width: 500px;
	margin: 30px auto;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	background-color: $base-color;
	height: 90vh;

	.login {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.login__form {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		input {
			font-size: 1.5em;
			margin-top: 25px;
			border: none;
			outline: none;

			&::placeholder {
				color: $main-color-opaque;
				font-style: italic;
			}
		}

		.login__handle,
		.login__password {
			color: $main-color;
			text-align: center;
			height: 60px;
			background: none;
			border-bottom: 0.5px solid $main-color-opaque;
			width: 100%;
		}

		.login__submit {
			width: 100px;
		}
	}

	.channel {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 100%;

		h2 {
			font-size: 18px;
			font-weight: normal;
			text-align: center;
			padding-top: 30px;
			color: $main-color-opaque;
		}

		.chat-window {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			height: 100%; // not working correctly -> tobi fix!

			.chat-window__output {
				overflow: auto;
				width: 100%;

				.output__message {
					margin: 0px 2rem;

					label {
						padding-left: 10px;
						color: $main-color;
						font-size: 1.5em;
					}

					p {
						color: $white;
						padding: 10px;
						border-radius: 10px;
						background-image: $vibrant-gradient;
						box-shadow: 3px 3px 10px rgba($vibrant-light, 0.25);
					}
				}

				.forwarded-message {
					p {
						background-image: none;
						background-color: $messages-soft;
						box-shadow: -3px -3px 10px rgba($messages-soft, 0.25);
					}
				}
			}

			.chat-window__feedback {
				color: $main-color;
				font-style: italic;
				font-size: 16px;
				padding-left: 2rem;
			}
		}

		.chat-input {
			height: 120px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			border-top: 0.5px solid $main-color-opaque;

			.chat-input__message {
				font-size: 16px;
				width: 100%;
				padding: 30px;
				color: $main-color;
				background: none;
				border: none;
				outline: none;
				resize: none;

				&::placeholder {
					color: $main-color-opaque;
					font-style: italic;
				}
			}

			.chat-input__submit {
				margin: 30px;
				width: 100px;
			}
		}
	}
}
