@import 'variables.scss';

.channel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    h2 {
        @include title();
    }

    .chat-input {
        flex: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-top: 0.5px solid $main-color-opaque;

        .chat-input__message {
            font-size: 16px;
            width: 100%;
            padding: 30px;
            color: $main-color;
            background: none;
            border: none;
            outline: none;
            resize: none;

            &::placeholder {
                color: $main-color-opaque;
                font-style: italic;
            }
        }

        .chat-input__submit {
            margin: 30px;
            width: 100px;
        }
    }
}