@import 'variables.scss';

.message__emoji-view {

    .emoji-view__emoji-selector {
        height: 10rem;
        overflow: auto;

        display: flex;
        flex-wrap: wrap;

        .emoji-selector__emoji {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: .5rem;

            &:hover {
                cursor: pointer;
            }

            .emoji__icon {
                font-size: 2.2rem;
            }

            .emoji__code {
                font-size: .8rem;
                color: $main-color-opaque;
            }
        }
    }
}