@import 'variables.scss';

.login {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        @include title();
    }

    .login__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 50px;

        input {
            font-size: 1.5em;
            margin-top: 25px;
            border: none;
            outline: none;

            &::placeholder {
                color: $main-color-opaque;
                font-style: italic;
            }
        }

        .login__handle,
        .login__password {
            color: $main-color;
            text-align: center;
            height: 60px;
            background: none;
            border-bottom: 0.5px solid $main-color-opaque;
        }

        .login__submit {
            width: 100px;
        }
    }
}