@import 'variables.scss';

.app__preferences {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.theme-dark>.app__preferences {
    &>h2 {
        @include title('dark');
    }
}

.theme-light>.app__preferences {
    &>h2 {
        @include title('light');
    }
}