@import 'variables.scss';

.preferences__theme-selector {
	margin: 2rem;

	.theme-selector__label {
		font-size: 1.5rem;
	}

	.theme-selector__theme-previews {
		display: flex;
		align-items: center;

		.theme-preview-container {
			margin: 1rem;
			flex: 4;
			display: flex;
			flex-direction: column;
			align-items: center;

			.theme-preview-label {
				margin: 1rem;
				opacity: 0.6;
			}

			.theme-preview {
				width: 100%;
			}

			&.theme-selected {
				flex: 5;

				.theme-preview-label {
					font-size: 1.5rem;
					opacity: 1;
				}
			}
		}
	}
}

// themes
.theme-dark .preferences__theme-selector {
	.theme-selector__label {
		color: white;
	}

	.theme-preview-container {
		filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.7));

		.theme-preview-label {
			color: white;
		}
	}
}

.theme-light .preferences__theme-selector {
	.theme-selector__label {
		color: grey;
	}

	.theme-preview-container {
		filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.4));

		.theme-preview-label {
			color: grey;
		}
	}
}
